.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 50px;
}

.section-title-container {
  width: 65%;
  padding-bottom: 14px;
}

.content-container {
  width: 65%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: space-between;
  row-gap: 20px;
}

.container-search {
  width: 65%;
  padding: 10px 0px 20px;
}

.search-button {
  background-color: #D32F2F;
  border: 1px solid #D32F2F;
  color: #ffffff;
  padding: 5px 10px;
  height: 31px;
  cursor: pointer;
}

.search-button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media screen and (max-width: 1356px) {

  .section-title-container,
  .content-container {
    width: 80%;
  }
}

@media screen and (max-width: 1084px) {
  .section-title-container {
    width: 90%;
  }

  .content-container {
    width: 90%;
  }
}

@media screen and (max-width: 962px) {
  .section-title-container {
    width: 85%;
  }

  .content-container {
    width: 85%;
    grid-template-columns: 200px 200px 200px;
  }
}

@media screen and (max-width: 757px) {
  .section-title-container {
    width: 70%;
  }

  .content-container {
    width: 70%;
    grid-template-columns: 200px 200px;
  }
}

@media screen and (max-width: 608px) {
  .section-title-container {
    width: 80%;
  }

  .content-container {
    width: 80%;
  }
}

@media screen and (max-width: 526px) {
  .content-container {
    grid-template-columns: 200px;
    justify-content: center;
  }
}
