<div class="container">
  <header-component></header-component>
  <section class="section">
    <div class="section-title-container">
      <h2>{{ title }}</h2>
    </div>
    <div class="container-search">
      <search-component (searchItem)="search($event)"></search-component>
      <button class="search-button" (click)="getComicByName()">Pesquisar</button>
    </div>
    <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner [color]="color" [diameter]="diameter"></mat-spinner>
    </div>
    <div class="content-container" *ngIf="isLoading === false && comics.length > 0">
      <card-component *ngFor="let post of currentPosts" [name]="post.title"
        [img]="post.thumbnail.path + '.' + post.thumbnail.extension" [id]="post.id" type="comic"></card-component>
    </div>
    <div *ngIf="isLoading === false && comics.length === 0">
      <p>Não há nada para ver aqui!</p>
    </div>
    <mat-paginator *ngIf="comics.length !== 0" class="pagination" [length]="total" [pageSize]="postsPerPage"
      [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="pageEvent(comics.length, $event)">
    </mat-paginator>
  </section>
</div>
