.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.section-title-container {
  width: 65%;
  padding-bottom: 14px;
}

.content-container {
  width: 65%;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  justify-content: space-between;
  row-gap: 20px;
}

@media screen and (max-width: 1356px) {

  .section-title-container,
  .content-container {
    width: 80%;
  }
}

@media screen and (max-width: 1084px) {
  .section-title-container {
    width: 90%;
  }

  .content-container {
    width: 90%;
  }
}

@media screen and (max-width: 962px) {
  .section-title-container {
    width: 85%;
  }

  .content-container {
    width: 85%;
    grid-template-columns: 200px 200px 200px;
  }
}

@media screen and (max-width: 757px) {
  .section-title-container {
    width: 70%;
  }

  .content-container {
    width: 70%;
    grid-template-columns: 200px 200px;
  }
}

@media screen and (max-width: 608px) {
  .section-title-container {
    width: 80%;
  }

  .content-container {
    width: 80%;
  }
}

@media screen and (max-width: 526px) {
  .content-container {
    grid-template-columns: 200px;
    justify-content: center;
  }
}
