<div class="container">
  <header-component></header-component>
  <section class="section">
    <div class="section-title-container">
      <h2>{{ title }}</h2>
    </div>
    <div class="container-search">
      <search-component (searchItem)="search($event)"></search-component>
      <button class="search-button" (click)="getComicByName()">Pesquisar</button>
    </div>
    <div class="content-container">
      <card-component *ngFor="let comic of comics" [name]="comic.title"
        [img]="comic.thumbnail.path + '.' + comic.thumbnail.extension" [id]="comic.id" type="comic"></card-component>
    </div>
  </section>
</div>
