.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.section-title-container {
  width: 70%;
  padding-bottom: 14px;
}

.content-container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
  padding-bottom: 20px;
}
