<div class="container">
  <ul class="navbar-links" [ngClass]="isMenuOpen ? 'open-menu' : 'close-menu'">
    <li class="link-wrapper">
      <a class="link" routerLink="/">Personagens</a>
    </li>
    <li class="link-wrapper">
      <a class="link" routerLink="/comics">Comics</a>
    </li>
    <li class="link-wrapper">
      <a class="link">Series</a>
    </li>
    <li class="link-wrapper">
      <a class="link">Stories</a>
    </li>
  </ul>
  <div class="burger-container" (click)="openMenu()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</div>
