<div class="container">
  <header-component></header-component>
  <section class="section">
    <div class="section-title-container">
      <h2>Personagens</h2>
    </div>
    <div class="container-search">
      <search-component (searchItem)="search($event)"></search-component>
      <button class="search-button" (click)="getCharacterByName()">Pesquisar</button>
    </div>
    <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner [color]="color" [diameter]="diameter"></mat-spinner>
    </div>
    <div class="heroes-container" *ngIf="isLoading === false && characters.length > 0">
      <card-component *ngFor="let post of currentPosts" [name]="post.name"
        [img]="post.thumbnail.path + '.' + post.thumbnail.extension" [id]="post.id"
        [routerLink]="['/character', post.id]" type="character">
      </card-component>
    </div>
    <div *ngIf="isLoading === false && characters.length === 0">
      <p>Não há nada para ver aqui!</p>
    </div>
    <mat-paginator *ngIf="characters.length !== 0" class="pagination" [length]="total" [pageSize]="postsPerPage"
      [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page" (page)="pageEvent(characters.length, $event)">
    </mat-paginator>
  </section>
</div>
